@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

/* Palette 1*/
$dark-sea-green: rgba(132, 169, 140, 1)
$hooker-green: rgba(82, 121, 111, 1)
$dark-slate-gray: rgba(53, 79, 82, 1)
$pastel-blue: rgba(179, 205, 209, 1)
$japanese-indigo: rgba(47, 62, 70, 1)

$vert-clair: #97C1A8
$vert: #61857C
$gris: #596F71
$bleu-clair: #C7DADD
$bleu: #475F6B


/* Old */
$primary-color: #2980b9
$secondary-color: #6dd5fa


$primary: $dark-sea-green
$background: $pastel-blue
$dark: $japanese-indigo

.darkBg
  background-image: linear-gradient(to bottom right, $dark-slate-gray, $japanese-indigo)

.gradientBg
  display: flex
  background: linear-gradient(to right, $primary-color, $secondary-color)

.center
  display: flex
  justify-content: center
  align-items: center

.footer
  display: flex
  padding: 1.5rem 1.5rem
  line-height: 1.5rem
  a
    border-bottom: 1px solid
    color: black
  a:hover
    color: $secondary-color
