@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

/* Palette 1*/
$dark-sea-green: rgba(132, 169, 140, 1)
$hooker-green: rgba(82, 121, 111, 1)
$dark-slate-gray: rgba(53, 79, 82, 1)
$pastel-blue: rgba(179, 205, 209, 1)
$japanese-indigo: rgba(47, 62, 70, 1)

$vert-clair: #97C1A8
$vert: #61857C
$gris: #596F71
$bleu-clair: #C7DADD
$bleu: #475F6B


/* Old */
$primary-color: #2980b9
$secondary-color: #6dd5fa


$primary: $dark-sea-green
$background: $pastel-blue
$dark: $japanese-indigo

$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)

.is-desktop-hovered
  cursor: pointer
  @media only screen and (min-width: $desktop)
    &:hover
      transform: scale(1.02)
      opacity: 0.7

.is-desktop-hovered-large
  cursor: pointer
  @media only screen and (min-width: $desktop)
    &:hover
      transform: scale(1.03)
      opacity: 0.7

.has-shadow
  box-shadow: $box-shadow

.gradientBg
  display: flex
  background: linear-gradient(to right, $primary-color, $secondary-color)

.has-margin-top-1
  margin-top: 0.5rem

.has-margin-top-2
  margin-top: 0.75rem

.has-margin-top-3
  margin-top: 1rem

.is-rounded-1
  border-radius: $radius

.row
  display: flex
  flex-direction: row
  align-items: center
  div:first-of-type
    margin-right: 8px
  div:last-of-type
    margin-left: 8px
  //justify-content:

.center
  display: flex
  justify-content: center
  align-items: center

.footer
  display: flex
  padding: 1.5rem 1.5rem
  line-height: 1.5rem
  a
    border-bottom: 1px solid
    color: black
  a:hover
    color: $secondary-color

